---

---

<footer class="h-36 md:h-24 bg-gray-800 grid place-items-center">
    <p class="text-white text-center w-[90%]">Esta calculadora de comisiones Paypal se ha creado sin ningún tipo de propósito comercial, solo de muestra.</p>
</footer>