---

---

<header class="h-24 bg-gray-800">
    <div class="mx-auto contenedor h-full flex items-center justify-between">
        <h1 class="text-white font-bold text-2xl md:text-3xl">PayPal Fees</h1>

        <nav class="hidden md:flex gap-5 lg:gap-10 text-white text-sm lg:text-base">
            <a href="https://betocodigo.dev/" target="_blank">betocodigo.dev</a>
            <a href="https://github.com/betocodigo/paypal-fee-calc" target="_blank">Código en GitHub</a>
        </nav>

        <p class="text-white text-xs lg:text-base uppercase border border-white rounded py-2 px-4">Alpine JS</p>
    </div>
</header>

<style>
    .contenedor {
        margin: 0 auto;
        width: 1200px;
        max-width: 90%;
    }
</style>